.hero {
    position: relative;
    padding: 80px 10%;
    min-height: 600px;
    overflow: hidden;
}
.hero-content {
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    z-index: 2;
    max-width: 500px;
}
.hero-content h1 {
    font-size: 1.9rem;
    margin-bottom: 19px;
    line-height: 26px;
    font-weight: 700;
}
.hero-content p {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #a1a1a1;
}
.hero-buttons{
    display: flex;
    gap: 16px;
    margin-top: 30px;
}
.hero-buttons button {
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
.hero-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.hero-image img {
    width: 100%;
    height: 100%;
   object-fit: cover;
   object-position: right;
}
.hero::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.35);
    z-index: 1;
}